body {
  width: 500px;
  height: 500px;
  margin-left: 50px;
  background-color: rgb(156, 239, 241);
  font-family: 'Ubuntu Mono', monospace;
}

.message {
  display: flex;
  flex-direction: column;
}

.messageButton {
  width:50%;
  height: 50px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  border-radius: 20px;
}

.Counter {
  width: 250px;
  height: 250px;
  background-color: rgb(238, 180, 103);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 36px;
}

.counterFunc {
  display: flex;
  flex-direction: row;
}

.counterButton {
  height: 75px;
  width: 75px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 36px;
  margin: 10px;
  margin-top: 0px;
  border-style: solid;
  border-color: black;
}

h1, h2 {
  color: black;
}